@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Gestor de Citas Médicas</h1>
    <p>Administre las citas médicas y el historial de tratamientos de sus pacientes.</p>
    <p><img src="https://www.pedircitamedico.org/wp-content/uploads/2021/05/cita-medico.jpg" alt="Cita Médica - Recomendaciones y pasos a seguir | Pedir Cita Médico" class="img-fluid" /></p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
