@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>A continuación se detallan las políticas de seguridad de nuestra compañía:</p>

<p>1. Protección de Datos Personales:</p>
<p>Nuestra compañía se compromete a proteger la privacidad y seguridad de los datos personales de nuestros clientes y empleados. Implementamos medidas técnicas y organizativas adecuadas para asegurar la confidencialidad, integridad y disponibilidad de la información.</p>

<p>2. Uso Responsable de la Información:</p>
<p>La información recopilada se utiliza únicamente para los fines específicos para los cuales se obtiene el consentimiento explícito del individuo o según lo permitido por la ley.</p>

<p>3. Cumplimiento Legal y Regulatorio:</p>
<p>Nuestra compañía cumple con todas las leyes y regulaciones aplicables relacionadas con la protección de datos personales, incluyendo la Ley de protección de datos y privacidad de la República del Ecuador.</p>

<p>4. Seguridad de la Información:</p>
<p>Implementamos controles de seguridad adecuados para proteger la información contra accesos no autorizados, divulgación, alteración o destrucción no autorizada.</p>

<p>5. Responsabilidad y Capacitación:</p>
<p>Todo el personal de nuestra organización está capacitado y es responsable de cumplir con estas políticas de seguridad de la compañía. Se fomenta una cultura de seguridad informática y protección de datos entre todos los empleados.</p>

<p>Para más información o preguntas sobre nuestras políticas de seguridad, por favor contáctenos.</p>
