@model GestionCitasMedicas.Models.Paciente

@{
    ViewData["Title"] = "Crear Paciente";
}

<style>
    body {
        background-color: #E0F2F1;
    }

    .btn-primary {
        background-color: #007BFF;
        border-color: #007BFF;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
</style>

<div class="container">
    <h1 class="display-4">Crear Paciente</h1>

    <h4>Paciente</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label">Nombre</label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaNacimiento" class="control-label">Fecha de Nacimiento</label>
                    <input asp-for="FechaNacimiento" class="form-control" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Genero" class="control-label">Género</label>
                    <input asp-for="Genero" class="form-control" />
                    <span asp-validation-for="Genero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Direccion" class="control-label">Dirección</label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DatosContacto" class="control-label">Datos de Contacto</label>
                    <input asp-for="DatosContacto" class="form-control" />
                    <span asp-validation-for="DatosContacto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HistorialMedico" class="control-label">Historial Médico</label>
                    <input asp-for="HistorialMedico" class="form-control" />
                    <span asp-validation-for="HistorialMedico" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Volver a la lista de Pacientes</a>
    </div>
</div>
