@model GestionCitasMedicas.Models.Tratamiento

@{
    ViewData["Title"] = "Registrar Tratamiento";
}

<style>
    body {
        background-color: #E0F2F1; 
    }

    .btn-primary {
        background-color: #007BFF;
        border-color: #007BFF;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    .form-group label {
        font-weight: bold;
    }
</style>

<div class="container">
    <h1 class="display-4">Registrar Tratamiento</h1>

    <div class="row my-4">
        <div class="col-md-6">
            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="PacienteId" class="control-label">Paciente</label>
                    <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteId"></select>
                    <span asp-validation-for="PacienteId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label">Descripción</label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Instrucciones" class="control-label">Instrucciones</label>
                    <input asp-for="Instrucciones" class="form-control" />
                    <span asp-validation-for="Instrucciones" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EfectosSecundarios" class="control-label">Efectos Secundarios</label>
                    <input asp-for="EfectosSecundarios" class="form-control" />
                    <span asp-validation-for="EfectosSecundarios" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Registrar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Volver al Listado de Tratamientos</a>
    </div>
</div>
